:root {
    --gradient-1: linear-gradient(to top right, rgb(217, 70, 239), rgb(6, 182, 212));
    --gradient-2: linear-gradient(to right, rgb(45 212 191), rgb(254 240 138));
    --gradient-3: linear-gradient(to top left, rgb(245 158 11), rgb(236 72 153));
}

body {
    font-family: "Roboto", sans-serif;
}

.gradient-box {
    position: relative;
    padding: 1em 1em;
    box-sizing: border-box;
    background-clip: padding-box;
    border: solid 5px transparent;
    border-radius: 1em;
}

.gradient-box:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -4px;
    border-radius: inherit;
}

.gradient-color-1:before {
    background: var(--gradient-1);
}

.gradient-color-2:before {
    background: var(--gradient-2);
}

.gradient-color-3:before {
    background: var(--gradient-3);
}
