{{ define "main" }}
  

  {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
  {{ $dateHuman := .Date | time.Format ":date_long" }}
  <time datetime="{{ $dateMachine }}" class="text-gray-400 text-xs font-medium">{{ $dateHuman }}</time>

  <article class="markdown-body pt-2">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </article>

  {{ if .Params.tags }}
<div class="mb-4 pt-4">
  <!-- Render Terms (e.g., Tags) -->
  <div class="text-xl pb-1 border-b border-gray-300 mb-2 text-gray-800">
    {{ $.Site.Data.taxonomies.tags.name | default "Tags" }}:
  </div>

  <!-- List of Terms -->
  <ul class="inline-flex flex-wrap gap-2">
    {{ range .Params.tags }}
      <li>
        <span class="text-sm bg-gray-100 border border-gray-300 text-gray-600 px-2 py-1 rounded-full hover:bg-gray-200 transition duration-150 ease-in-out">
          <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="hover:text-blue-600">{{ . }}</a>
        </span>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
  
{{ end }}
