<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
</head>
<body class="antialiased max-w-2xl flex flex-col md:flex-row mx-4 mt-8 lg:mx-auto">
  <div class="flex-auto min-w-0 mt-6 flex flex-col px-2 md:px-0">
    <header>
      {{ partial "header.html" . }}
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      {{ partial "footer.html" . }}
    </footer>
  </div>
</body>
</html>
